<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  
  <ion-tab title="Контакты" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/contacts">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/inventory">
    <ion-nav-view name="tab-inventory"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="reservedList" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/reservedList">
    <ion-nav-view name="tab-reservedList"></ion-nav-view>  
  </ion-tab>
</ion-tabs>
