$cost-size: 28px;
$phone-font-size: 28px;
$small-text-size: 15px;
$title-size: 46px;
$empty-message-text: 20px;


:root {
    --bg-cost-color: #9BC53D;
    --work-color: #9ACD32;
    --dont-work-color: #8B0000;
    --secondary-color: #EBFFFA;
    --font-color: #000000;
    --bg-phone-button: #32CD32;
    --contacts-link-color: #808080;
    --danger-color: red;
    --star-icon: #FFD700;

  }
  